<nav>
    <div class="site-title">
      <a href="/"><h1>Inventory Application</h1></a>
      <p>A place to manage your inventory</p>
    </div>
    <ul>
      <!-- <li><a href="/categories">All categories and items</a></li> -->
      <li><a href="/">All categories and items</a></li>
      <li><a href="/category/create">New category</a></li>
      <li><a href="/item/create">New item</a></li>
    </ul>
  </nav>