<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <%- include("../partials/nav.ejs") %>

  <div class="create-category content">
    <form id="create-form" action="/category/create" method="POST">
      <label for="title">Category name:</label>
      <input type="text" id="name" name="name" required>
      <label for="description">Category description:</label>
      <textarea type="text" id="description" name="description" required></textarea>
      <button>Submit</button>
    </form>
  </div>

</body>
</html>